img {
  max-width: 80px;
}

.header {
  display: grid;
  grid-template-columns: 81px auto;
}

.page-title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Pokemon Solid', sans-serif;
  font-size: 40px;
  text-shadow: 2px 2px 2px steelblue;
  color:darkgoldenrod;
}

.pokeball-container {
  display: flex;
  justify-content: center;
  align-items: center;
}